@import "./login.scss";
@import "./navbar.scss";
@import "./table.scss";
@import "./topheader.scss";

@font-face {
  src: url("../font/myFont.woff");
  font-family: myFont;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: myFont !important;
  background-color: #fff;
  color: #777;
  height: 100vh;

  img {
    max-width: 100%;
  }

  .app {
    min-height: 100vh;

    .contents-container {
      background-color: #fff;
      box-shadow: 40px 0px 20px -20px rgba(0, 0, 0, 0.1);
      padding: 40px;
    }

    .row {
      margin: auto;
    }

    // forms
    .form-container {
      min-width: 350px;

      .form-input {
        width: 100%;

        .MuiFormControl-root.MuiTextField-root {
          width: 100%;
        }

        input {
          width: 100%;
        }

        button {
          width: 100%;
          margin-top: 20px;
        }
      }
    }

    // navbar
    .navbar-container {
      height: 100vh;
    }
  }
}
