.navbar {
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 20px;
  height: 100%;
  box-sizing: border-box;

  .top-menu {
    p {
      margin: 0;
    }
    .avatar {
      img {
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        width: 90px;
      }
    }
  }

  .menu-item {
    ul {
      margin: 0;
      padding: 30px 0;
      li {
        list-style-type: none;
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
        padding: 5px;
        margin: 5px 0;
      }
      a {
        text-decoration: none;
        color: #777;
      }
    }
  }
}
