.ma2web-table {
  width: 100%;
  text-align: right;
  border-collapse: collapse;

  svg {
    font-size: 30px;
  }

  .radif {
    span {
      border: 2px solid #999;
      padding: 0 8px;
      display: inline-block;
    }
  }

  .table-img-name {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-left: 10px;
    }
  }

  thead {
    th {
      font-weight: 100;
      padding: 15px 0;
    }
  }
  tbody {
    tr {
      background-color: #f9f9f9;
      padding: 5px 10px;
      font-size: 14px;
      td {
        padding: 5px 0;

        .neshan {
          width: 20px;
          height: 20px;
          background-color: #cacaca;
          border-radius: 50%;
          display: block;
        }
      }
    }
  }
}
