.top-header {
  margin-bottom: 80px;

  svg {
    font-size: 40px;
    cursor: pointer;
  }
  form,
  .MuiFormControl-root.MuiTextField-root {
    width: 100%;
  }
  input {
    widows: 100%;
  }

  .ma2web-date {
    text-align: left;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3 {
    margin-left: 60px;
  }
}
